//font family
body {
  font-family: 'Inter';
}

// app global css in SCSS form
.container {
  width: 1440px;
  margin: auto;
  height: 1024px;
}

// app global css in SCSS form
:root {
  --q-color-warning: #fdb5283d;
  --q-color-greyText: #262B43B2;
  --q-color-bg-grey: #F7F7F9;
  --q-color-start: #8EE753;
  --q-color-end: #FF716D;
  --q-color-bg-attempt: #E6E7FF;

  




}
//font
.font-11 {
  font-size: 11px;
}
//margins
.margin-t--50 {
  margin-top: -50px;
}
//paddings

//override

//dimensions

//background

.bg-warning {
  background-color: var(--q-color-warning);
}
.bg-bg-grey {
  background-color:  var(--q-color-bg-grey);

}
.bg-attempt {
  background-color:  var(--q-color-bg-attempt);

}
//text color
.warning-text {
  color: var(--q-color-warning);
}
.start-text {
  color: var(--q-color-start);
}
.end-text {
  color: var(--q-color-end);
}

.grey-text {
  color: var(--q-color-greyText);
}
//border radius
.br-8 {
  border-radius: 8px;
}
.br-12 {
  border-radius: 12px !important;
}
.br-t-8 {
  border-radius: 8px 8px 0px 0px;
}


//width

.width-900 {
  min-width: 900px;
}
.width-460 {
  width: 460px;
}

.width-346 {
  width: 364px;
}

.width-120{
  width: 120px;

}


.width-93{
  width: 93px;

}

.width-408{
  width: 460px;

}

//height
.h-250 {
  height: 250px;
}

.heigh-48px {
  height: 48px;
}
.heigh-54px {
  height: 54px;
}

.height-120{
  height: 120px;
}

.height-38{
  height: 38px;
}

.height-190{
  height: 230px;
}




.background {
  background-image: url(../assets/images/loginBackground.png);
  background-repeat: no-repeat;
  background-size: contain;
}


