//font family
body {
  font-family: 'Inter';
}

// app global css in SCSS form
.container {
  width: 1440px;
  margin: auto;
  height: 1024px;
}

// app global css in SCSS form
:root {
  --q-color-warning: #fdb5283d;
  --q-color-greyText: #262b43b2;
  --q-color-bg-grey: #f7f7f9;
  --q-color-start: #8ee753;
  --q-color-end: #ff716d;
  --q-color-bg-attempt: #e6e7ff;
  --q-color-questions-grey: #6D788D;
  --q-color-error: #FF4D49;
  --q-color-correct: #0FA958;


;

}
//font
.font-11 {
  font-size: 11px;
}
//margins
.margin-t--50 {
  margin-top: -50px;
}
//paddings

//override

//dimensions

//background

.bg-warning {
  background-color: var(--q-color-warning);
}
.bg-bg-grey {
  background-color: var(--q-color-bg-grey);
}
.bg-attempt {
  background-color: var(--q-color-bg-attempt);
}
.bg-error {
  background-color: var(--q-color-error);
}

//text color
.error-text {
  color: var(--q-color-error);
}
.warning-text {
  color: var(--q-color-warning);
}
.start-text {
  color: var(--q-color-start);
}
.end-text {
  color: var(--q-color-end);
}

.grey-text {
  color: var(--q-color-greyText);
}

.question-grey-text {
  color: var(--q-color-questions-grey);
}
//border radius
.br-8 {
  border-radius: 8px;
}
.br-12 {
  border-radius: 12px !important;
}
.br-t-8 {
  border-radius: 8px 8px 0px 0px;
}

//border color
.br-error{
  border-color: var(--q-color-error);
}

.br-correct{
  border-color: var(--q-color-correct);
}

//width


.width-460 {
  width: 460px;
}

.width-346 {
  width: 364px;
}

.width-120 {
  width: 120px;
}

.width-93 {
  width: 93px;
}

.width-408 {
  width: 460px;
}

//height
.h-250 {
  height: 250px;
}

.heigh-48px {
  height: 48px;
}
.heigh-54px {
  height: 54px;
}

.height-120 {
  height: 120px;
}

.height-38 {
  height: 38px;
}

.height-190 {
  height: 230px;
}


.height-271 {
  height: 271px271px;
}

//pointer
.clickable {
  cursor: pointer;
}
.background {
  background-image: url(../assets/images/loginBackground.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.display-none
{
  display: none;
}
//media query
/* Styles for larger screens */
.width-900 {
  width: 100%;
}
/* Styles for larger screens */
@media screen and (min-width: 601px) {
  .width-900 {
    min-width: 900px !important; /* Adjust according to your design */
  }
}
@media screen and (max-width: 920px) {
  .width-900 {
    width: 90% !important; /* Or another percentage that fits your design */
    min-width: 700px !important; /* Optional, if you still want to limit the width */
  }
}
@media screen and (max-width: 600px) {
  .width-900 {
    width: 70% !important; /* Or another percentage that fits your design */
    min-width: 500px !important; /* Optional, if you still want to limit the width */
  }
}


.correct-answer {
  color: green; /* Green for correct answers */
}

.incorrect-answer {
  color: red; /* Red for incorrect answers */
}
